<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>

    <a href="/">Back to Home</a>
    <form action="/api/users" method="post">
        <input type="text" placeholder="Enter user name" name="name" required>
        <input type="number" placeholder="Enter user name" name="age" required>

        <button>Create user</button>
    </form>
    
</body>
</html>