<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Expense</title>
</head>
<body>

    <a href="/">Back to Home</a>
    
    <form action="/api/expenses" method="post">
        
        <input type="text" placeholder="Enter description" name="description" required>
        <input type="number" placeholder="Enter amount" name="amount" required>
        <input type="text" placeholder="Enter category" name="category" required>

        <button>Create expense</button>
    </form>
    
</body>
</html>