<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.name %> edit</title>
</head>
<body>
    <h1>Edit page</h1>
    <a href="/">Back to home</a>

    <form action="/api/users/<%= user.id %>/update" method="post">
        <input value="<%= user.name %>" type="text" name="name" placeholder="enter user name" required>
        <input value="<%= user.age %>" type="number" name="age" placeholder="enter user name" required>
        <button>Edit user</button>
    </form>
</body>
</html>