<header>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
             <a href="/create">Create new user</a>
        </li>
        <li> <a href="/blogs">Blogs</a></li>
    </ul>
</header>